body {
  font-family: 'Montserrat', sans-serif;
}

/* HEADER */

header {
  height: 100vh;
  background: url(images/header-img.jpeg)
}

/* END OF HEADER */

/* NAVBAR */

/* END OF NAVBAR */

/* BANNER */

/* END OF BANNER */
































